@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0 auto;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
}

header {
    margin: 10px;
    padding: 12px;
}

.navigation-menu {
    height: 65px;
    width: 100%
}


.navigation-menu>ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.navigation-menu h1 {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #DA2535 50%, black 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation-menu a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
}

.navigation-menu button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    height: auto;
}

.navigation-menu li:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8rem;
    width: 6%;
    height: 100%;
}

.navigation-menu li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    padding: 0 8rem;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin: auto;
    width: 80%;
    
}

.food-eastern {
    display: flex;
    width: 270px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 60px;
    height: 240px;
    font-family: 'Inter' sans-serif;
}

.food-eastern>h3 {
    display: flex;
    font-size: 2.1rem;
    align-items: center;
    justify-content: center;
}

.food-eastern>p {
    align-items: center;
    font-size: 1.5rem;
    height: 40%;

}

.food-eastern>button {
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    background-color: #DA2535;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    border: none;
}
.food-eastern button:last-child{
    display: flex;
    justify-items: flex-start;
    margin: 0;

}

.img-section {
    display: flex;
    width: auto;
    height: 350px;
}