@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    height: 7rem;
    display: flex;
    font-size: 10rem;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-family: "Montserrat" sans-serif;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
}

header {
    margin: 10px;
    padding: 12px;
}

.navigation-menu {
    height: 65px;
    width: 100%
}


.navigation-menu>ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.navigation-menu h1 {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #DA2535 50%, black 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation-menu a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
    cursor: pointer;
}

.navigation-menu button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    height: auto;
}

.navigation-menu li:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8rem;
    width: 40%;
    height: 100%;
}

.navigation-menu li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    padding: 0 8rem;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    margin: auto;
    width: 80%;
}

.food-eastern:last-child {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 240px;
    width: 50%;
    font-family: 'Inter' sans-serif;
}

.food-eastern {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
    height: 240px;
    width: 40%;
    font-family: 'Inter' sans-serif;
}

.food-eastern>h3 {
    display: flex;
    font-size: 2.1rem;
    align-items: center;
    font-family: "Montserrat" sans-serif;
    justify-content: center;
}

.food-eastern>p {
    align-items: center;
    font-size: 1.5rem;
    height: 40%;

}

.food-eastern>button {
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    background-color: #DA2535;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    border: none;
    font-family: 'Inter' sans-serif;
}

.food-eastern button:last-child {
    display: flex;
    justify-items: flex-start;
    margin: 0;

}

.img-section {
    display: flex;
    width: 200px;
    height: 350px;
    margin-right: 100px;
}

.img-section:first-child{
    display: flex;
    width: auto;
    height: 270px;
    margin: 0;
}

.food-eastern>a {
    color: #DA2535;
    text-decoration: underline;
}

.dishes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin: auto;
    width: 90%;
}

.dishes-food {
    background-color: #ffffffae;
    padding: 15px;
    margin: 10px;
    width: 200px;
    height: 310px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.dishes-food > img {
    display: flex;
    width: auto;
    height: 180px;
    margin: auto;
    margin-top: -70px; 
    margin-bottom: 20px;
}


.dishes-food>h3 {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    font-family: "Montserrat" sans-serif;
    justify-content: center;
}

.dishes-food>p {
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    height: 40%;
    text-align: justify;

}

.reviews {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin: auto;
    width: 90%;
}

.reviews h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.reviews-food {
    background-color: #ffffffae;
    fill: #F3F3F3;
    padding: 15px;
    margin: 10px;
    width: 350px;
    height: 250px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.reviews-food>img {
    padding-bottom: 30px;
    display: flex;
    width: auto;
    height: 110px;
    justify-content: flex-start;
}

.reviews-food>img:last-child {
    display: flex;
    width: auto;
    height: 65px;
    padding-top: 15px;
    justify-content: flex-start;
}

.reviews-food>h3 {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    font-family: "Montserrat" sans-serif;
    justify-content: flex-start;
}

.reviews-food>p {
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    height: auto;
    text-align: justify;

}

.localization img {
    display: flex;
    width: 60%;
    height: 300px;
    padding-top: 15px;
    justify-content: flex-start;
    margin: auto;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: auto;
    width: 35%;
}

.input input {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    height: 30px;
}

.input label {
    display: flex;
    justify-content: end;
}

.input button {
    display: flex;
    justify-content: end;
    padding: 10px;
    background-color: #DA2535;
    color: aliceblue;
    font-family: 'Inter' sans-serif;
    height: 27px;
    border-radius: 0 5px 5px 0;
    align-items: center;
    border-color: rgba(32, 31, 31, 0.333);
}

input {
    padding: 8px;
    border-radius: 5px;
    border-color: rgba(32, 31, 31, 0.333);
}

.footer {
    padding-top: 100px;
    text-align: center;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.footer-item {
    margin-bottom: 20px;
}

.footer h1 {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat" sans-serif;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-transform: uppercase;
}

.footer-list > h1:first-child{
    position: relative;
    margin-top: 30px;
    font-family: "Montserrat" sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, #DA2535 50%, black 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer ul {
    list-style: none;
    padding: 0;
    line-height: 1.5em
}

.sub-menu {
    padding: 0;
}

.sub-menu li {
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.5em
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
